---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Minneapolis&term=%5B%22Five%20Watt%22,%20%22Minneapolis%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-01-06T00:00:00+00:00'
      X-Zipkin-Id:
      - 7857f486d59fee56
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-vvs49; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '495.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-102-1-useast1aprod
      X-Extlb:
      - 10-65-102-1-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "PRlPRN2Mimiy4hlY6WJK5w", "alias": "wesley-andrews-minneapolis",
        "name": "Wesley Andrews", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/PNVzOO2LN-CCDkE-nXMa-g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wesley-andrews-minneapolis?adjust_creative=WR8j6bjFy9ZvXPCb5KGzFw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WR8j6bjFy9ZvXPCb5KGzFw",
        "review_count": 125, "categories": [{"alias": "coffeeroasteries", "title":
        "Coffee Roasteries"}, {"alias": "coffee", "title": "Coffee & Tea"}], "rating":
        4.5, "coordinates": {"latitude": 44.955368, "longitude": -93.276056}, "transactions":
        ["delivery"], "price": "$$", "location": {"address1": "111 E 26th St", "address2":
        null, "address3": "", "city": "Minneapolis", "zip_code": "55404", "country":
        "US", "state": "MN", "display_address": ["111 E 26th St", "Minneapolis, MN
        55404"]}, "phone": "+16124607739", "display_phone": "(612) 460-7739", "distance":
        1601.6233996165372}, {"id": "5pWHnKN3_AIrXiyyqZ74pw", "alias": "five-watt-coffee-minneapolis-5",
        "name": "Five Watt Coffee", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/AyfUwUHqBKUHRtDMK8iPJw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/five-watt-coffee-minneapolis-5?adjust_creative=WR8j6bjFy9ZvXPCb5KGzFw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WR8j6bjFy9ZvXPCb5KGzFw",
        "review_count": 334, "categories": [{"a[...]
