---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/f-m7-hyFzkf0HSEeQ2s-9A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-zszwq; site=public_api_v3
      X-Zipkin-Id:
      - 81a9b533613ff6e6
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-119-207-useast1aprod
      X-Extlb:
      - 10-65-119-207-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''<yelp>'' does
        not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "<yelp>"}}'
  recorded_at: Sat, 06 Jan 2024 01:53:45 GMT
recorded_with: VCR 6.2.0
