---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/12345/reviews?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-6d5ff7f475-6485n; site=public_api_v3
      X-Zipkin-Id:
      - 5b05c6d4e9f52129
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-79-132-useast1aprod
      X-Extlb:
      - 10-65-79-132-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Tue, 23 Jan 2024 19:44:21 GMT
recorded_with: VCR 6.2.0
