---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Denver&term=Five%20Watt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 78ec9a29405cda3f
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-8z9jm; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '498.0'
      Ratelimit-Resettime:
      - '2024-01-07T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-82-48-useast1aprod
      X-Extlb:
      - 10-65-82-48-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -104.97024536132812,
        "latitude": 39.73552421220229}}}'
  recorded_at: Sat, 06 Jan 2024 19:25:50 GMT
recorded_with: VCR 6.2.0
