---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/5pWHnKN3_AIrXiyyqZ74pw/reviews?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '500.0'
      Ratelimit-Resettime:
      - '2024-01-10T00:00:00+00:00'
      X-Zipkin-Id:
      - 465c82b307019660
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-lhtsl; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-180-179-useast1bprod
      X-Extlb:
      - 10-65-180-179-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"reviews": [{"id": "dFazV3qGCV_L6DtjTxT0Ew", "url": "https://www.yelp.com/biz/five-watt-coffee-minneapolis-5?adjust_creative=uTgADcfJkr4ZQKhCNIGOCQ&hrid=dFazV3qGCV_L6DtjTxT0Ew&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=uTgADcfJkr4ZQKhCNIGOCQ",
        "text": "Some of the best coffee and tea around. They usually have some great
        breakfast snacks to offer, but with COVID-19 see to be more limited. They
        are now...", "rating": 5, "time_created": "2023-11-18 20:11:35", "user": {"id":
        "8VUNf7BPC7djFBYty9oIxg", "profile_url": "https://www.yelp.com/user_details?userid=8VUNf7BPC7djFBYty9oIxg",
        "image_url": "https://s3-media2.fl.yelpcdn.com/photo/emK-N_yUI6bUYOrBnVptnw/o.jpg",
        "name": "Jeremy S."}}, {"id": "9zwOcnCfNuCtCLQEjaoGBw", "url": "https://www.yelp.com/biz/five-watt-coffee-minneapolis-5?adjust_creative=uTgADcfJkr4ZQKhCNIGOCQ&hrid=9zwOcnCfNuCtCLQEjaoGBw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=uTgADcfJkr4ZQKhCNIGOCQ",
        "text": "My personal favorite coffee shop in Minnesota. Staff is extremely
        knowledgeable and cleanliness is always at the forefront of their standards!
        \n\nI''m a big...", "rating": 5, "time_created":[...]
